

@using wall2.Models
@model wall2.Models.Message
 
 <h2> The Wall </h2>
 <form asp-controller="Message" asp-action="AddMessage" method="post">
    <span asp-validation-for="message"></span>
    <label asp-for="message"></label>
    <input asp-for="message"/>
    <button type="submit">Create new Message</button>
</form>

<hr>


    @foreach(var mes in @ViewBag.messages)
    {
    <p> <b>  @mes.message </b> - @mes.user.first_name </p>
        <h3> Comments: </h3>
        @foreach(var com in @ViewBag.comments){
            if(@mes.id == @com.message_id){
                <p> @com.comment - @com.user.first_name  </p>
            }
        }

    <form action = "/AddComment/@mes.id" method = "post">
       <input type = "text" name = "comment"> 
        <button type= "submit"> Post comment </button>
    </form> 
    <hr>
    
     
  }
